@import "normalize";
@import "mixines";
@import "fonts";
@import "../../node_modules/swiper/swiper";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Museo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #474747;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul{
  list-style: none;
  padding-inline-start: 0;
}
input{
  width: 355px;
  border: 1px solid #444444;
  border-radius: 3px;
  padding: 17px;
  outline: none;
  &:focus-within{
    border: 1px solid #000000;

  }
}
label{
  padding: 0 20px;
  background: #ffffff;
  font-size: 14px;
  line-height: 22px;
  color: #838383;
  position: absolute;
  top: -10px;
  left: 30px;
}
h2{
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  color: #000000;
}
.icon {
  width: 50px;
  height: 50px;
  margin: .5em;
  fill: #EF0C0C;
}
.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.btn{
  color: #ffffff;
  width: 100%;
  max-width: 313px;
  background: linear-gradient(91.05deg, #EE0B0B 0%, #FB1616 107.88%);
  padding: 25px;
  font-family: 'FiraSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 14px;
  letter-spacing: -0.025em;
  border: none;
  &__form{
    max-width: 355px;
  }
  &:hover{
    cursor: pointer;
    background: linear-gradient(91.05deg, #FF0000 0%, #FF2626 107.88%);
  }
  &:active{
    background: linear-gradient(91.05deg, #CC1313 0%, #FB1616 107.88%);
  }
}
.header{
  background: #F2F2F2;
  &__logo{
    flex: 1;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__social{
    display: flex;
    align-items: center;
    margin-right: 80px;
    &-link{
      width: 20px;
      height: 20px;
      &:not(:first-child){
        margin-left: 30px;
      }
    }
  }
  &__contacts{
    display: flex;
    align-items: center;
    font-family: 'FiraSans', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #474747;
  }
  &__email-link, &__phone-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__email-link{
    margin-right: 40px;
  }



}
.header__email-link:before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../icons/mail_icon.svg") center center / cover no-repeat;
  margin-right: 5px;
}
.header__phone-link:before{
  content: '';
  display: block;
  width: 16px;
  height: 21px;
  background: url("../icons/phone_icon.svg") center center / cover no-repeat;
  margin-right: 5px;
}
.nav{
  padding: 18px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__item:not(:last-child){
    margin-right: 53px;
  }
  .nav__link{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #343434;
  }
}
.main__top-wrapper{
  min-height: 530px;
  background: url("../images/main_bg.jpg") center center /cover no-repeat;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.main__title{
  width: 100%;
  max-width: 640px;
  font-family: 'FiraSans', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 51px;
  color: #FFFFFF;
  margin-left: 40px;
}
.category{
  margin-bottom: 45px;
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3px;
  }
  &__item{
    padding: 38px 0 38px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'FiraSans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #535353;

    transition: all .2s ease-in;
    &:hover{
      background: red;
      svg{
        transition: all .2s ease-in;
        fill:#ffffff;
      }
      p{
        transition: all .2s ease-in;
        color: white;
      }
    }
  }
}
.about{
  margin-bottom: 100px;
  &__wrapper{
    display: flex;
    background: #F2F2F2;
  }
  &__content{

  }
  &__title{
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    color: #383838;
    position: relative;
    padding-bottom: 20px;
    margin-top: 42px;
    &:before{
      content: '';
      position: absolute;
      width: 82px;
      height: 2px;
      display: block;
      background: #FF0027;
      bottom: 0;
    }
  }
  &__text{
    font-weight: normal;
    font-size: 22px;
    line-height: 39px;
    color: #434343;
    margin-bottom: 20px;
  }
}
.order{
  margin-bottom: 50px;
  &__wrapper{
    background: url("../images/order_bg.jpg") center center / cover no-repeat;
    display: flex;
    justify-content: center;
    padding-bottom: 58px;
  }
}
.form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 39px 50px;
  &__wrapper{
    width: 100%;
    max-width: 1293px;
    background: white;
    margin-top: 290px;
    border-radius: 5px;
  }
  &__title{
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    color: #414141;
    text-align: center;
    margin-top: 32px;
  }
  &__description{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #646464;
    margin: 13px 0 36px 0;
  }
  &__control{
    position: relative;
  }
}
.partners{
  position: relative;
  margin-bottom: 50px;
}
.swiper-button-next{
  display: inline-block;
  position: absolute;
  top: 65%;
  right: 10%;
  transform: translateY(-50%);
}
.swiper-button-prev{
  display: inline-block;
  position: absolute;
  top: 65%;
  left: 10%;
  transform: translateY(-50%);
}